.login-Container {
    .header {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 100px;
        padding-top: 5px;
        gap: 10px;

        button {
            border-radius: 5px;
            background: white;
            border: 1px solid #c4c2c2;
            padding: 3px 10px;

            &:hover {
                background: #edebeb;
            }
        }
    }

    .title {
        padding: 20px 0;
        text-align: center;
    }

    .wecome {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }

    .content-form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        button {
            width: 100%;
            border: none;
            background: rgb(0, 0, 0);
            color: white;
            padding: 10px 0;
            border-radius: 5px;
            &:disabled{
                background: rgb(92 90 90);
                cursor: no-drop;
            }

            .loaderIcon{
                margin-right: 7px;
                top: 2px;
                animation: spin 1s infinite linear;
            }

            @keyframes spin {
                from {
                    transform: scale(1) rotate(0deg);
                }

                to {
                    transform: scale(1) rotate(360deg);
                }
            }
        }


        .backToHome {
            cursor: pointer;
            text-align: center;
        }
    }
}